*.iml
.gradle
.gradle/
/local.properties
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
build/
captures/
/captures
.externalNativeBuild
.externalNativeBuild/
.cxx
.cxx/
local.properties
*.apk
output.json
*.log

*.jks
*.keystore

*.hprof